body {
	background-color: #C0DEED;
	background-image: url("https://abs.twimg.com/images/themes/theme1/bg.png");
	background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

#info_name {
	font-size: 18px;
	font-weight: 600;
}

/*#user_info {
	position: fixed;
}*/

#info_name {
	color: black;
	
	cursor: auto;
}

a:link, a:visited { 
    color: inherit;

    cursor: auto;
}

a:hover {
	text-decoration: underline;
}

.username {
	font-size: 13px;
}

.content {
	font-size: 14px;
}

.nav-wrapper {
	margin-left:20px;
	margin-right:15px
}

.input-field label {
	color: #2196f3;
}
.input-field input[type]:focus + label {
	color: #2196f3;
}

.input-field input[type]:focus {
	border-bottom: 1px solid #2196f3;
    box-shadow: 0 1px 0 0 #2196f3;
}