<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

	<title>Fwitter</title>
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../../stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../../javascripts/materialize.min.js"></script>
  <script src="../../javascripts/myscripts.js"></script>

	<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Fweeter</a>
      </div>
    </nav>
  </div>

	<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="waves-effect waves-circle waves-light btn-floating btn-large red modal-trigger" href="#modal2">
      <i class="large material-icons">mode_new</i>
    </a>
	</div>

	<div id="modal2" class="modal">
    <div class="modal-content">
      <form class="col s12" action="/" method="POST">
      	<legend>Make a new Fweet</legend>
		      <div class="row">
	    			<div class="input-field col s12">
	      			<input id="username" type="text" name="user" required>
	      			<label for="username">Username</label>
	    			</div>
	  			</div>

		      <div class="row">
		      	<div class="input-field col s12">
		      	  <textarea id="textarea1" class="materialize-textarea" length="150" name="content" required></textarea>
			        <label for="textarea1">Type a new fweet</label>
			      </div>
		      </div>
		    	
		    	<button class="btn waves-effect waves-light" type="submit" name="action">Send</button>

				</div>
		  </form>
    </div>
  </div>

	<% @fweets.reverse.each do |fweet| %>
		<div class="container">
			<div class="card-panel">
				<span class="blue-text text-darken-2">
        		<h5><%= "@#{fweet.user}"%></h5>
        		</span>
        		<p><%= "#{fweet.content}" %></p>
       </div>
    </div>
    <% end %>

</body>
</html>

