<div class="row">
    <div class="col offset-l2 s12 m10 l8">
        <div class="card-panel">
            <div class="row">
                    <form action="/" method="POST">
                        <div class="row col s12">
                            <div class="input-field">
                                <textarea class="materialize-textarea" id="new_fweet" type="text" spellcheck="true" name="content" length="140" required></textarea>
                                <label for="new_fweet">What's on your mind?</label>
                            </div>
                        </div>
                        <div class="col s12">
                        <button class="btn waves-effect waves-light light-green" type="submit" name="action"><i class="material-icons right">send</i>Post</button>
                        </div>
                    </form>
            </div>
        </div>
        <ul class="collection">
        <% @fweets.reverse.each do |fweet| %>
            <div class="collection-item avatar">
                <img src="/images/profile.png" alt="" class="circle">
                <span class="light-green-text text-darken-3 username title">
                        <a href="/<%= fweet.user.username %>"><%= "@#{fweet.user.username}"%></a>
                </span>
                <p><span class="content row">
                        <%= "#{fweet.content}" %>
                </span></p>
            </div>
            <% end %>
        </ul>
    </div>
</div>
