<!DOCTYPE html>
<html>

<body>
    <div class="row">
        <div class="col s4">
            <!-- SIDEBAR START -->
            <div class="card-panel hoverable">
                <p>Placeholder</p>
            </div>
            <!-- SIDEBAR END -->
        </div>
        <div class="col s7">
            <div class="card-panel hoverable">
                <form action="/" method="POST">
                    <div class="row">
                        <div class="input-field">
                            <input id="new_fweet" type="text" spellcheck="true" name="content" length="140" required>
                            <label for="new_fweet">What's on your mind?</label>
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light blue" type="submit" name="action">Post</button>
                </form>
            </div>
            <% @fweets.reverse.each do |fweet| %>
                <div class="card-panel hoverable">
                    <span class="blue-text text-darken-3">
                        <h5><%= "@#{fweet.user.username}"%></h5>
                        </span>
                    <p>
                        <%="#{fweet.content}" %>
                    </p>
                </div>
                <% end %>
        </div>
    </div>
</body>

</html>
