<!DOCTYPE html>
<html>

<body>

	<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="waves-effect waves-circle waves-light btn-floating btn-large light-blue modal-trigger z-depth-2" href="#modal2">
      <i class="large material-icons">add</i>
    </a>
	</div>

<!-- MODAL BEGIN -->
	<div id="modal2" class="modal">
    <div class="modal-content">
      <form class="col s12" action="/" method="POST">
      	<legend>Make a new Fweet</legend>
		      <div class="row">
	    			<select name="user">
	    				<% @users.each do |user| %>
	    					<option value="<%= user.id %>"><%= user.username %></option>
	    				<% end %>
	    			</select>
	  			</div>

		      <div class="row">
		      	<div class="input-field col s12">
		      	  <textarea id="textarea1" class="materialize-textarea" length="150" name="content" required></textarea>
			        <label for="textarea1">Type a new fweet</label>
			      </div>
		      </div>
		    	
		    	<button class="btn waves-effect waves-light" type="submit" name="action">Send</button>

				</div>
		  </form>
    </div>
  </div>

<!-- MODAL END -->

	<div class="row">
		<div class="col s4">
				<div class="card-panel">
					<p>Placeholder</p>
				</div>
		</div>

		<div class="col s7">
			<% @fweets.reverse.each do |fweet| %>
				
					<div class="card-panel">
						<span class="blue-text text-darken-2">
		        		<h5><%= "@#{fweet.user.username}"%></h5>
		        		</span>
		        		<p><%= "#{fweet.content}" %></p>
		       </div>
		    
		  <% end %>
		</div>
	</div>

</body>
</html>

