<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- load MUI -->
    <link href="//cdn.muicss.com/mui-0.1.18/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.1.18/js/mui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../public/stylesheets/stylesheet.css">

	<title>Fwitter</title>
</head>
<body>
  <header>
  	<div id="appbar" class="mui-appbar">
  		<table width="100%">
    		<tr style="vertical-align:middle;">
      		<td class="mui-appbar-height">Left Side</td>
      		<td class="mui-appbar-height" align="right">Right Side</td>
    		</tr>
  		</table>
		</div>
	</header>
	

	

<div class="mui-container">
  <div class="mui-panel">
		<form action="/" method="POST">
	  		<legend>Make a new Fweet</legend>
	  		<div class="mui-form-group">
				<input type="username" class="mui-form-control" name="user" required>
				<label class="mui-form-floating-label">Username</label>
	  		</div>
	  		<div class="mui-form-group">
	   			<input type="text" class="mui-form-control" name="content" required>
	   			<label class="mui-form-floating-label">Fweet</label>
	  		</div>
	  		<button type="submit" class="mui-btn mui-btn-primary mui-btn-raised">Post</button>
		</form>
  </div>
</div>

	<% @fweets.reverse.each do |fweet| %>
	<div class="mui-container">
      <div class="mui-panel">
        <h4><%= "@#{fweet.user}"%></h2>
        <p><%= "#{fweet.content}" %></p>
      </div>
    </div>
    <% end %>

	
</body>
</html>

