<!DOCTYPE html>
<html>
<head>
	<title>Fwitter</title>
</head>
<body>
	<h1>Welcome to Fwitter!</h1>
	
	<ul>
		<% @fweets.each do |fweet|%>
			<li> <% "#{fweet.user} says: #{fweet.content}" %> </li>
		<% end %>
	</ul>
	
	<h3>Make a New Fweet!</h3>
	<form action="/" method="POST">
		<input type="text" placeholder="username">
		<input type="text" placeholder="awesome fweet">
    <input type="submit">
</body>
</html>