<!DOCTYPE html>
<html>

<body>
    <div class="row">
        
            <!-- SIDEBAR START -->
            <div id="user_info" class="card hoverable offset-s1 col s3">
                <p></p>
            </div>
            <!-- SIDEBAR END -->
        
        <div class="offset-s4 col s6">
            <div class="card-panel hoverable">
            <div class="row">
            <div class="col s2">
                
            </div>
            <div class="col s10">
                <form action="/" method="POST">
                    <div class="row">
                        <div class="input-field">
                            <input id="new_fweet" type="text" spellcheck="true" name="content" length="140" required>
                            <label for="new_fweet">What's on your mind?</label>
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light blue" type="submit" name="action">Post</button>
                </form>
            </div>
            </div>
            </div>
            <% @fweets.reverse.each do |fweet| %>
                <div class="card-panel hoverable">
                    <span class="blue-text text-darken-3 username row">
                        <%= "@#{fweet.user.username}"%>
                    </span>
                    <span class="content row">
                        <%="#{fweet.content}" %>
                    </span>
                </div>
                <% end %>

        </div>

    </div>
</body>

</html>

